.retailerDiv {
    margin-top: 2.5%;
    margin-bottom: 1%;
}

.retailerDiv p {
    font-size: 25px;
    margin-bottom: 2px;
}

.partnerName {
    display: flex;
    justify-content: space-between;
    color: #00000080;
    font-weight: bold;

}


.partnerName p {
    display: flex;
    gap: 10px;
    font-size: 35px;
    /* margin-top: 3px; */
}

.partnerName img {
    width: 35px;
    /* adjust size as needed */
    height: 40px;
    margin-bottom: 30px;
}

span {
    font-size: 35px;
    font-weight: 500;
}