.mainDiv {
    background-color: #252525;
    width: 1000px;
    height: 475px;
}
.mainDiv p {
    color: white;
    /* width: 100; */
}
.firstPara{
  width: 41%;
  padding-left: 33px;
}
.firstPara .tittle{
    font-size: 30px;
}
.firstPara .intro{
    font-size: 15px;
    font-weight: 500;
}

.plusCircle {
    color: white;
    padding-top: 15px;
}

.mainImg img {
    width: 875px;
    height: 475px;
}


.main {
    display: flex;
    /* justify-content: space-around; */
    gap: 10px;
    margin-top: 10px;
}

.linePara {
    display: flex;
    justify-content: space-between;
    padding: 0px 4% 0px 4%;
  }
   
.linDiv {
    margin-top: 90px;
 }
.mainDiv hr {
    border: none;
    width: 94%;
    height: 2px;
    background-color: #FFFFFF26;   
    /* margin-top: 2px;  */
  }
  